:root {
  --branding-color: #e6461f;
  --secondary-color: #19191a;
  --supporting-color: #f7f7f7;
  --header-font: Expletus Sans;
  --body-font: Hind;
}

body {
  background: #19191a !important;
  margin: 60px auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--supporting-color);
}

.navbar {
  background: var(--secondary-color);
}

.greetings {
  margin-top: 152px;
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
  font-family: var(--header-font);
  color: var(--supporting-color);
}

.intro {
  font-size: 64px;
  text-align: center;
  font-family: var(--header-font);
  color: var(--supporting-color);
}

.location {
  font-size: 24px;
  opacity: 0.8;
  text-align: center;
  font-family: var(--header-font);
  color: var(--supporting-color);
}

.btn-primary.main {
  display: block;
  font-family: var(--body-font);
  font-weight: 600;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 80px;
  padding: 16px;
  background: var(--branding-color);
  border: none;
  transition: 0.15s ease-in-out;
}

.content {
  padding-left: 56px;
  padding-right: 56px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 8px;
  font-size: 24px;
  font-family: var(--header-font);
  color: var(--supporting-color);
}
p {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--supporting-color);
}
.project-link {
  padding: 16px;
  font-family: var(--body-font);
  font-weight: 600;
  background: var(--branding-color);
  border: none;
  transition: 0.15s ease-in-out;
}
