:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.greetings {
  margin-top: 104px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}

.intro {
  font-size: 96px;
  text-align: center;
}

.location {
  font-size: 24px;
  text-align: center;
  opacity: 0.7;
}

.btn-primary.main {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 48px;
  padding: 16px;
}

.content {
  padding-left: 56px;
  padding-right: 56px;
}

.project-link {
  padding: 16px;
}
